# Comments

Comments can be used to explain Python code.  
Using comments we can leave notes around or code.

In [ ]:
# I am a comment
# Try to run me to see if you get anything

In [13]:
print("Hello")
# print("World!")

Hello

You can use strings as a comment

In [1]:
"I am a comment"

"""I am another comment"""

"""
I am multiple line comment
Line 2
Line 3
Line 4
"""

print('Hello')

Hello

# Data types

- Integer (عدد صحیح)
- Float (عدد اعشاری)
- Strings (متن)
- Booleans (درست یا غلط)

In [11]:
a = 8       # int
b = 1.25    # float
c = "Hello" # string
d = True    # boolean

print(a, b, c, d)

8 1.25 Hello True

### Casting types

- `int()` - converts anything to integer
- `float()` - converts anything to float
- `str()` - converst anything to text string

In [18]:
a = int(8.5)          # float to int
b = int("20")         # str to int
print(a + b)

c = float(5)          # int to float
d = float("12.25")    # str to float
print(c + d)

e = str(5)            # int to str
f = str(2.5)          # float to str
print(e + f)

28
17.25
52.5

# Operators

### 1. Arithmatic Operators

| Op   | Name                 | Example  |
| ---- | -------------------- | -------- |
| `+`  | Addition             | a + b    |
| `-`  | Subtration           | a - b    |
| `*`  | Multiplication (ضرب) | a \* b   |
| `/`  | Division (تقسیم)     | a / b    |
| `%`  | Modulus (باقی مانده) | a % b    |
| `**` | Power (توان)         | a \*\* b |

In [5]:
a = 2
b = 3
c = a ** b
print(c)

8

> **Activity**: Calculate circle, cylinder, and sphere areas and volumes.

### 2. Assignment Operators (home)

| Op   | Example | Same As    |
| ---- | ------- | ---------- |
| `=`  | x = 5   | x = 5      |
| `+=` | x += 3  | x = x + 3  |
| `-=` | x -= 4  | x = x - 4  |
| `*=` | x \*= 2 | x = x \* 2 |
| `/=` | x /= 3  | x = x / 3  |

In [6]:
x = 2
x *= 8
print(x)

16

### 3. Comparison Operators

| Op   | Name                     | Example |
| ---- | ------------------------ | ------- |
| `==` | Equal                    | a == b  |
| `!=` | Not equal                | a != b  |
| `>`  | Greater than             | a > b   |
| `<`  | Less than                | a < b   |
| `>=` | Greeter than or equal to | a >= b  |
| `<=` | Less than or equal to    | a <= b  |

In [7]:
a = 3
b = 8
c = a > b
print(c)

False

### 4. Logical Operators

| Op    | Description                                   | Example          | فارسی |
| ----- | --------------------------------------------- | ---------------- | ----- |
| `and` | Returns True if both statements are True      | x > 3 and x < 5  | و     |
| `or`  | Returns True if one of the statements is True | x == 1 or x == 3 | یا    |
| `not` | Reverse the result                            | not(x > 3)       | برعکس |

In [9]:
x = 4
a = x > 3 and x < 5
b = x == 1 or x == 3
c = not(x > 3)

print(a, b, c)

True False False

> For more operators you can always check [this website](https://www.w3schools.com/python/python_operators.asp)

### Read from Terminal

Using `input` function we can read string from terminal. And store them in a variable to use it later.

In [ ]:
name = input('Enter your name: ')
print('Hello', name)

Hello Hayyaun

In [21]:
name = input('What is your name? ')
age = input('How old are you? ')
print(name, 'is', age, 'years old!')

Hayyaun is 25 years old!

> **Exercise**: 2. Calculator